<nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        ¡Proximamente!
      </a>
  
      <div class="navbar-dropdown">
        <a class="navbar-item">
          Enemigos
        </a>
        <a class="navbar-item">
          Comidas
        </a>
        <a class="navbar-item">
          Mods Favoritos
        </a>
        <hr class="navbar-divider">
        <div class="navbar-item">
          Version 0.0.1
        </div>
      </div>
    </div>
  </nav>