@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.pregunta {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
}

.respuesta {
    background-color: #d3ffd3;
    padding: 10px;
    margin-bottom: 5px;
}

.fechas {
    background-color: #b2a4a4;
    padding: 10px;
    margin-bottom: 5px;
}

h2 {
    color: #333;
}

footer {
    background-color: #07f22e;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.pregunta {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
}

.respuesta {
    background-color: #d3ffd3;
    padding: 10px;
    margin-bottom: 5px;
}

.notas{
    background-color: #f0f0f0;
}

.fuentes-contenedor{
    background-color: darkgrey;
}
#titulo-principal{
    background-color: rgb(60, 76, 76);
}

.fuentes ul li{ 
    background-color: rgb(0, 242, 255);
}

h2 {
    color: #333;
}

footer {
    background-color: #07f22e;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #e81c4f;
  }

.notas {
    background-color: #ff4f4f;
    padding: 10px;
    margin-bottom: 5px;
}

.fuentes div{
    background-color: darkgrey;
}
