<%- include('includes/head.ejs') %>
<div>
    <P>¿Qué otros templating engines existen para node?</P>
    <p>Pug (anteriormente conocido como Jade), EJS (Embedded JavaScript), Handlebars y Mustache</p>
</div>
<%- include('includes/foot.ejs') %>
