<%- include('includes/head.ejs', {username: username}) %>
<h1>Lab 12</h1>
<ul class="">
    <li class="">¿Qué beneficios encuentras en el estilo MVC?</li>
    <li> Se tiene un orden en el desarrollo del sistema asi que creo yo cumple su funcionalidad como arquitectura de software
        solo para recordar pondré que el usuario usa controladores los cuales manipula el modelo actualiza la vista y la vista
        es lo que ve el usuario.
    </li>
    <li class="">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</li>
    <li>La desventaja de esto es el mayor uso de tiempo en el diseño, pero es una inversion en el futurp ya que permite una gran manteanibilidad</li>
</ul>
<h2>Links lab 12</h2>
<ul>
    <li><a href="https://www.juntadeandalucia.es/servicios/madeja/contenido/recurso/122#:~:text=Como%20desventajas%20tenemos%3A,de%20desarrollo%2C%20no%20son%20necesarias.">Desventajas del MVC</a></li>
</ul>
<h1>Lab 13</h1>
<ul class="">
    <li class="">¿Qué beneficios encuentras en el estilo MVC?</li>
    <li> Se tiene un orden en el desarrollo del sistema asi que creo yo cumple su funcionalidad como arquitectura de software
        solo para recordar pondré que el usuario usa controladores los cuales manipula el modelo actualiza la vista y la vista
        es lo que ve el usuario.
    </li>
    <li class="">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</li>
    <li>La desventaja de esto es el mayor uso de tiempo en el diseño, 
        pero es una inversion en el futurp ya que permite una gran manteanibilidad. Tenemos que ponerle 
    una sola responsabilidad a cada archivo y eso genera demasiados archivos</li>
</ul>
<h2>Links lab 13</h2>
<ul>
    <li><a href="https://www.juntadeandalucia.es/servicios/madeja/contenido/recurso/122#:~:text=Como%20desventajas%20tenemos%3A,de%20desarrollo%2C%20no%20son%20necesarias.">Desventajas del MVC</a></li>
</ul>
<h1>Lab 14</h1>
<ul class="">
    <li class="">¿Qué beneficios encuentras en el estilo MVC?</li>
    <li> Se tiene un orden en el desarrollo del sistema asi que creo yo cumple su funcionalidad como arquitectura de software
        solo para recordar pondré que el usuario usa controladores los cuales manipula el modelo actualiza la vista y la vista
        es lo que ve el usuario.
    </li>
    <li class="">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</li>
    <li>La desventaja de esto es el mayor uso de tiempo en el diseño, 
        pero es una inversion en el futurp ya que permite una gran manteanibilidad. Tenemos que ponerle 
    una sola responsabilidad a cada archivo y eso genera demasiados archivos</li>
</ul>
<h2>Links lab 14</h2>
<ul>
    <li><a href="https://www.juntadeandalucia.es/servicios/madeja/contenido/recurso/122#:~:text=Como%20desventajas%20tenemos%3A,de%20desarrollo%2C%20no%20son%20necesarias.">Desventajas del MVC</a></li>
</ul>
<h1>Lab 17</h1>
<ul class="">
    <li class="">¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</li>
    <li> 
        La principal ventaja es que se separa totalmente el acceso a los datos de la lógica de la aplicación.
        Esto nos mantiene ordenada de acuerdo al MVC manteniendo la app más organizada(siendo estas las capas)
        . Además es más seguro tener el codigo no visible en el sistema.
    </li>
    <li class="">¿Qué es SQL injection y cómo se puede prevenir?</li>
    <li>Es cuando meten codigo SQL en la aplicación de registros y este se ejecuta para tener acceso
        a las bases de datos haciendo ingenieria social como saber el nombre de la tabla. Para prevenirlo se usa 
        el signo de interrogación en la parte del insert qen los campos d ela tabla y asi se evita el SQL injection
    
    </li>
</ul>

<h1>Lab 18</h1>
<ul class="">
    <li class="">¿Qué otras formas de autentificación existen?</li>
    <li> 
        "La autenticación es el proceso que usan las empresas para confirmar que solo las personas, servicios 
        y aplicaciones adecuados con los permisos correctos pueden acceder a recursos de la organización."
        
        <ul>
            <li>Autenticacion basada en contraseña</li>
            <li>Autenticacion basada en certificado</li>
            <li>Autenticacion biométrica</li>
            <li>Basada en tokens</li>
            <li>OTP contraseñas de un solo suo</li>
            <li>Autenticacion por voz</li>
        </ul>

    </li>
</ul>
<h2>Links lab 18</h2>
<ul>
    <li><a href="https://www.microsoft.com/es-es/security/business/security-101/what-is-authentication">Según Microsoft estas son formas de autenticarse</a></li>
</ul>
<%- include('includes/foot.ejs') %>